.statsheet-background {
  // background-color: #dcdee0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 24px;
  color: black;
  flex-grow: 1;
  // padding: 20px;
  min-height: 90vh;

  table {
    background-color: white;
    width: 70%;
    
    caption {
      caption-side: top;
      padding: 20px;
    }
  }
}
