.oosular-background {
    background-color: rgb(87, 42, 44);
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    color: white;
    caption {
      color: white;
      font-size: 26px;
    }
    h1 {
      font-size: 56px;
    }
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 24px;
      text-decoration: underline;
    }
    Table {
      background-color: white;
    }
}
  
