.oosular-background {
    background-color: rgb(87, 42, 44);
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    color: white;
    caption {
      color: white;
      font-size: 26px;
    }
    h1 {
      font-size: 56px;
    }
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 24px;
      text-decoration: underline;
    }
    Table {
      background-color: white;
    }
    #race-dropdown {
      margin-bottom: 10px;
    }
    .race-description {
      margin: 20px;
    }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.race-heading {
  font-weight: bold;
  font-size: 19px;
}
  
