.about-background {
  background-color: #dcdee0;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: black;
  min-height: 100vh;
  padding-top: 40px;
}